{% extends "account/base.html" %}

{% load i18n %}
{% load tailwind_filters %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="bg-teal-100 border border-teal-400 text-teal-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">{% trans "Bad Token" %}</strong>
            <span class="block sm:inline">
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
                    request a <a class="underline" href="{{ passwd_reset_url }}">new password reset</a>
                    .{% endblocktrans %}
            </span>
        </div>
    {% else %}
        {% if form %}
            <div class="flex flex-col items-center justify-center bg-gray-300 py-24">
                <div class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-5 rounded-md w-full max-w-md">
                    <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">
                        {% trans "Change Password" %}
                    </div>
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="flex w-full">
                            <button type="submit"
                                    class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-teal-500 hover:bg-teal-600 rounded py-2 w-full transition duration-150 ease-in">
                                <span class="mr-2 uppercase">{% trans 'Change Password' %}</span>
                                <span>
                                      <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                           stroke-width="2"
                                           viewBox="0 0 24 24" stroke="currentColor">
                                        <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                      </svg>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}
