{% extends "account/base.html" %}

{% load i18n %}
{% load tailwind_filters %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <div class="flex flex-col items-center justify-center bg-gray-300 py-24">
        <div class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-5 rounded-md w-full max-w-md">
            <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">
                {% trans "Change Password" %}
            </div>
            <form method="POST" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="flex w-full">
                    <button type="submit"
                            class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-teal-500 hover:bg-teal-600 rounded py-2 w-full transition duration-150 ease-in">
                        <span class="mr-2 uppercase">{% trans "Change Password" %}</span>
                        <span>
                                  <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                       stroke-width="2"
                                       viewBox="0 0 24 24" stroke="currentColor">
                                    <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                  </svg>
                            </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
